@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

* {
    margin: 0;
    paduping: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    
    font-weight: 900;
    color: white;
    
    overflow: hidden;
}

header {
    height: 30vh;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-bottom: 0.25vmin solid var(--color2);
}
header>img {
    filter: blur(1.5px);
    
    object-fit: cover;
    
    width: 100%;
    height: 100%;
}
.title {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0.2vmin 0.2vmin 0.3vmin var(--color2);
    
    position: absolute;

    line-height: 2ch;

    font-size: clamp(2vw, 6.5vw, 8vmin);
    font-family: 'Bungee Inline', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    letter-spacing: 0.1ch;
}
.title>p {
    letter-spacing: 0.4ch;
    font-size: clamp(1vw, 2.5vw, 4vmin);
}

nav {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 8vh;
    
    background-color: var(--color1);
    box-shadow: 0px -0.1vmin 0.5vmin black;
    border: 0.25vmin solid var(--color3);
    border-bottom: none;
    border-radius: 4vmin 4vmin 0vmin 0vmin;

    font-size: clamp(1vw, 2.5vw, 4vmin);
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dropup {
    position: relative;
    display: inline-block;
}
.dropup>button {
    background: none;
    border: none;
    font-size: inherit;
    color: white;
    cursor: pointer;
}
.dropup-content {
    min-width: 160px;
    bottom: 6vh;
    position: absolute;
    z-index: 1;
    display: none;
    /* max-width: of about/research length; */
}
.dropup-content a {
    text-decoration: none;
    color: white;
    paduping: 1vmin;
    display: block;
}

.dropup-content a:hover {
    background-color: var(--color1);
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover button {
    background-color: var(--color2);
}
nav>a {
    align-self: flex-end;
    height: 100%;
    width: min-content;
    display: flex;
    align-items: end;
}
.logo {
    width: auto;
    height: 12vh;
    transform: rotate(-0.75deg);
}
/* fix image and align to bottom, svg -> png, remove rotate */